<!DOCTYPE html>
<html>

<head>
    <script src="../js/main.js"></script>
</head>

<body>
    <div class="crypto" id="cryptoTable">
        <table id="table" border="1">
            <tr>
                <h3>Table of top 10 Crypto currency!</h3>
            </tr>
            <tr>
                <th>Rank: &nbsp</th>
                <th>Name: &nbsp</th>
                <th>Price: &nbsp</th>
                <th>24h: &nbsp</th>
                <th>7d: &nbsp</th>
                <th>Market Cap: &nbsp</th>
                <th>Volume: &nbsp</th>
                <th>Circulating Supply: &nbsp</th>
            </tr>
        </table>

        <button class="tableBTN" type="button" onclick="getPrices()">Try it</button>
    </div>
</body>



</html>